[class^='wth-icon-']:before,
[class*=' wth-icon-']:before {
  font-family: 'wth-icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='wth-icon-'] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wth-icon-eye:before {
  content: "\6c";
}
.wth-icon-note:before {
  content: "\78";
}
.wth-icon-t-shirt:before {
  content: "\4a";
}
.wth-icon-banknote:before {
  content: "\61";
}
.wth-icon-bubble:before {
  content: "\62";
}
.wth-icon-bulb:before {
  content: "\63";
}
.wth-icon-calendar:before {
  content: "\64";
}
.wth-icon-camera:before {
  content: "\65";
}
.wth-icon-clip:before {
  content: "\66";
}
.wth-icon-clock:before {
  content: "\67";
}
.wth-icon-cloud:before {
  content: "\68";
}
.wth-icon-cup:before {
  content: "\69";
}
.wth-icon-data:before {
  content: "\6a";
}
.wth-icon-diamond:before {
  content: "\6b";
}
.wth-icon-display:before {
  content: "\6d";
}
.wth-icon-food:before {
  content: "\6e";
}
.wth-icon-heart:before {
  content: "\6f";
}
.wth-icon-key:before {
  content: "\70";
}
.wth-icon-lab:before {
  content: "\71";
}
.wth-icon-like:before {
  content: "\72";
}
.wth-icon-location:before {
  content: "\73";
}
.wth-icon-lock:before {
  content: "\74";
}
.wth-icon-mail:before {
  content: "\75";
}
.wth-icon-megaphone:before {
  content: "\76";
}
.wth-icon-music:before {
  content: "\77";
}
.wth-icon-news:before {
  content: "\79";
}
.wth-icon-params:before {
  content: "\7a";
}
.wth-icon-pen:before {
  content: "\41";
}
.wth-icon-phone:before {
  content: "\42";
}
.wth-icon-photo:before {
  content: "\43";
}
.wth-icon-search:before {
  content: "\44";
}
.wth-icon-settings:before {
  content: "\45";
}
.wth-icon-shop:before {
  content: "\46";
}
.wth-icon-sound:before {
  content: "\47";
}
.wth-icon-stack:before {
  content: "\48";
}
.wth-icon-star:before {
  content: "\49";
}
.wth-icon-study:before {
  content: "\4b";
}
.wth-icon-trash:before {
  content: "\4c";
}
.wth-icon-truck:before {
  content: "\4d";
}
.wth-icon-tv:before {
  content: "\4e";
}
.wth-icon-user:before {
  content: "\4f";
}
.wth-icon-vallet:before {
  content: "\50";
}
.wth-icon-video:before {
  content: "\51";
}
.wth-icon-vynil:before {
  content: "\52";
}
.wth-icon-world:before {
  content: "\53";
}
.wth-icon-fire:before {
  content: "\54";
}
.wth-icon-paperplane:before {
  content: "\55";
}
.wth-icon-tag:before {
  content: "\56";
}
.wth-icon-exclamation:before {
  content: "\57";
}
.wth-icon-exclamation-alert:before {
  content: "\58";
}
.wth-icon-contact-add-3:before {
  content: "\59";
}
.wth-icon-plus-big:before {
  content: "\5a";
}
.wth-icon-alarm-clock:before {
  content: "\30";
}
.wth-icon-archive:before {
  content: "\31";
}
.wth-icon-arrow-backward:before {
  content: "\32";
}
.wth-icon-arrow-down-left:before {
  content: "\33";
}
.wth-icon-arrow-down-right:before {
  content: "\34";
}
.wth-icon-arrow-up-left:before {
  content: "\35";
}
.wth-icon-arrow-up-right:before {
  content: "\36";
}
.wth-icon-battery-medium:before {
  content: "\37";
}
.wth-icon-book:before {
  content: "\38";
}
.wth-icon-calendar-3:before {
  content: "\39";
}
.wth-icon-call:before {
  content: "\21";
}
.wth-icon-camera-1:before {
  content: "\22";
}
.wth-icon-quote:before {
  content: "\23";
}
.wth-icon-check-mark:before {
  content: "\24";
}
.wth-icon-clock-outline:before {
  content: "\25";
}
.wth-icon-remove:before {
  content: "\26";
}
.wth-icon-contact-big:before {
  content: "\27";
}
.wth-icon-contacts:before {
  content: "\28";
}
.wth-icon-data-1:before {
  content: "\29";
}
.wth-icon-parentheses:before {
  content: "\2a";
}
.wth-icon-display-contrast:before {
  content: "\2b";
}
.wth-icon-download:before {
  content: "\2c";
}
.wth-icon-dropdown:before {
  content: "\2d";
}
.wth-icon-globe-world:before {
  content: "\2e";
}
.wth-icon-folder-open-2:before {
  content: "\2f";
}
.wth-icon-talk-chat:before {
  content: "\3a";
}
.wth-icon-friends:before {
  content: "\3b";
}
.wth-icon-hand-block:before {
  content: "\3c";
}
.wth-icon-photo-image:before {
  content: "\3d";
}
.wth-icon-inbox-box:before {
  content: "\3e";
}
.wth-icon-information-circle:before {
  content: "\3f";
}
.wth-icon-keypad:before {
  content: "\40";
}
.wth-icon-lightbulb-2:before {
  content: "\5b";
}
.wth-icon-location-1:before {
  content: "\5d";
}
.wth-icon-pin-location:before {
  content: "\5e";
}
.wth-icon-letter-mail:before {
  content: "\5f";
}
.wth-icon-mic:before {
  content: "\60";
}
.wth-icon-mixer-2:before {
  content: "\7b";
}
.wth-icon-more-option:before {
  content: "\7c";
}
.wth-icon-note-file:before {
  content: "\7d";
}
.wth-icon-play-3:before {
  content: "\7e";
}
.wth-icon-print-2:before {
  content: "\5c";
}
.wth-icon-tags:before {
  content: "\e000";
}
.wth-icon-bell-alarm:before {
  content: "\e001";
}
.wth-icon-minus-remove:before {
  content: "\e002";
}
.wth-icon-search-2:before {
  content: "\e003";
}
.wth-icon-mail-send:before {
  content: "\e004";
}
.wth-icon-gear-setting-2:before {
  content: "\e005";
}
.wth-icon-share:before {
  content: "\e006";
}
.wth-icon-user-1:before {
  content: "\e007";
}
.wth-icon-contacts-social:before {
  content: "\e008";
}
.wth-icon-sort:before {
  content: "\e009";
}
.wth-icon-star-2:before {
  content: "\e00a";
}
.wth-icon-stopwatch:before {
  content: "\e00b";
}
.wth-icon-storage:before {
  content: "\e00c";
}
.wth-icon-back-system:before {
  content: "\e00d";
}
.wth-icon-home-system:before {
  content: "\e00e";
}
.wth-icon-windows-system:before {
  content: "\e00f";
}
.wth-icon-timer:before {
  content: "\e010";
}
.wth-icon-trash-bin:before {
  content: "\e011";
}
.wth-icon-volume-speaker:before {
  content: "\e012";
}
.wth-icon-wifi:before {
  content: "\e013";
}
.wth-icon-download-inbox:before {
  content: "\e014";
}
.wth-icon-arrow-down:before {
  content: "\e015";
}
.wth-icon-caret-down:before {
  content: "\e016";
}
.wth-icon-arrow-line-down:before {
  content: "\e017";
}
.wth-icon-resize-arrow-up:before {
  content: "\e018";
}
.wth-icon-arrow-graph-down-left:before {
  content: "\e019";
}
.wth-icon-arrow-graph-down-right:before {
  content: "\e01a";
}
.wth-icon-arrow-graph-up-left:before {
  content: "\e01b";
}
.wth-icon-arrow-graph-up-right:before {
  content: "\e01c";
}
.wth-icon-arrow-left:before {
  content: "\e01d";
}
.wth-icon-caret-left:before {
  content: "\e01e";
}
.wth-icon-arrow-line-left:before {
  content: "\e01f";
}
.wth-icon-arrow-move:before {
  content: "\e020";
}
.wth-icon-resize-arrow-2:before {
  content: "\e021";
}
.wth-icon-return-left:before {
  content: "\e022";
}
.wth-icon-return-left-1:before {
  content: "\e023";
}
.wth-icon-arrow-right:before {
  content: "\e024";
}
.wth-icon-caret-right:before {
  content: "\e025";
}
.wth-icon-arrow-line-right:before {
  content: "\e026";
}
.wth-icon-resize-arrow-down:before {
  content: "\e027";
}
.wth-icon-swap-exchage:before {
  content: "\e028";
}
.wth-icon-arrow-up:before {
  content: "\e029";
}
.wth-icon-caret-up:before {
  content: "\e02a";
}
.wth-icon-arrow-line-up:before {
  content: "\e02b";
}
.wth-icon-address-at:before {
  content: "\e02c";
}
.wth-icon-bag:before {
  content: "\e02d";
}
.wth-icon-battery-charging:before {
  content: "\e02e";
}
.wth-icon-battery-empty:before {
  content: "\e02f";
}
.wth-icon-battery-full:before {
  content: "\e030";
}
.wth-icon-battery:before {
  content: "\e031";
}
.wth-icon-battery-low:before {
  content: "\e032";
}
.wth-icon-beaker:before {
  content: "\e033";
}
.wth-icon-beer:before {
  content: "\e034";
}
.wth-icon-bluetooth:before {
  content: "\e035";
}
.wth-icon-bookmark:before {
  content: "\e036";
}
.wth-icon-briefcase-2:before {
  content: "\e037";
}
.wth-icon-bug:before {
  content: "\e038";
}
.wth-icon-calculator:before {
  content: "\e039";
}
.wth-icon-calendar-1:before {
  content: "\e03a";
}
.wth-icon-camera-3:before {
  content: "\e03b";
}
.wth-icon-credit-card:before {
  content: "\e03c";
}
.wth-icon-message-talk:before {
  content: "\e03d";
}
.wth-icon-talk-chat-bubble:before {
  content: "\e03e";
}
.wth-icon-bubbles:before {
  content: "\e03f";
}
.wth-icon-talk-chat-1:before {
  content: "\e040";
}
.wth-icon-talk-chat-bubble-2:before {
  content: "\e041";
}
.wth-icon-talk-chat-bubble-1:before {
  content: "\e042";
}
.wth-icon-check-circle:before {
  content: "\e043";
}
.wth-icon-check-mark-2:before {
  content: "\e044";
}
.wth-icon-check-mark-3:before {
  content: "\e045";
}
.wth-icon-chevron-down:before {
  content: "\e046";
}
.wth-icon-chevron-left:before {
  content: "\e047";
}
.wth-icon-chevron-right:before {
  content: "\e048";
}
.wth-icon-chevron-up:before {
  content: "\e049";
}
.wth-icon-clipboard:before {
  content: "\e04a";
}
.wth-icon-clock-2:before {
  content: "\e04b";
}
.wth-icon-remove-delete-circle:before {
  content: "\e04c";
}
.wth-icon-remove-delete:before {
  content: "\e04d";
}
.wth-icon-remove-delete-two:before {
  content: "\e04e";
}
.wth-icon-cloud-1:before {
  content: "\e04f";
}
.wth-icon-code-download:before {
  content: "\e050";
}
.wth-icon-code-working:before {
  content: "\e051";
}
.wth-icon-code:before {
  content: "\e052";
}
.wth-icon-cup-coffee:before {
  content: "\e053";
}
.wth-icon-compass:before {
  content: "\e054";
}
.wth-icon-compose:before {
  content: "\e055";
}
.wth-icon-signal-bar:before {
  content: "\e056";
}
.wth-icon-contrast:before {
  content: "\e057";
}
.wth-icon-disc:before {
  content: "\e058";
}
.wth-icon-file-document-text:before {
  content: "\e059";
}
.wth-icon-document:before {
  content: "\e05a";
}
.wth-icon-drag:before {
  content: "\e05b";
}
.wth-icon-globe-world-1:before {
  content: "\e05c";
}
.wth-icon-pencil-edit:before {
  content: "\e05d";
}
.wth-icon-egg:before {
  content: "\e05e";
}
.wth-icon-eject:before {
  content: "\e05f";
}
.wth-icon-mail-letter:before {
  content: "\e060";
}
.wth-icon-eye-disabled:before {
  content: "\e061";
}
.wth-icon-eye-view:before {
  content: "\e062";
}
.wth-icon-female-symbol:before {
  content: "\e063";
}
.wth-icon-filing:before {
  content: "\e064";
}
.wth-icon-film-maker:before {
  content: "\e065";
}
.wth-icon-flag:before {
  content: "\e066";
}
.wth-icon-electric-no-off:before {
  content: "\e067";
}
.wth-icon-flash-electric:before {
  content: "\e068";
}
.wth-icon-beaker-science-flask:before {
  content: "\e069";
}
.wth-icon-folder-open:before {
  content: "\e06a";
}
.wth-icon-fork-repo:before {
  content: "\e06b";
}
.wth-icon-fork:before {
  content: "\e06c";
}
.wth-icon-forward:before {
  content: "\e06d";
}
.wth-icon-gamepad:before {
  content: "\e06e";
}
.wth-icon-gamepad-2:before {
  content: "\e06f";
}
.wth-icon-gear-setting:before {
  content: "\e070";
}
.wth-icon-gear-setting-2-1:before {
  content: "\e071";
}
.wth-icon-grid:before {
  content: "\e072";
}
.wth-icon-hammer:before {
  content: "\e073";
}
.wth-icon-headphone:before {
  content: "\e074";
}
.wth-icon-heart-1:before {
  content: "\e075";
}
.wth-icon-buoy-help:before {
  content: "\e076";
}
.wth-icon-question-circle:before {
  content: "\e077";
}
.wth-icon-question:before {
  content: "\e078";
}
.wth-icon-home:before {
  content: "\e079";
}
.wth-icon-ice-cream:before {
  content: "\e07a";
}
.wth-icon-googleplus:before {
  content: "\e07b";
}
.wth-icon-googleplus-thick:before {
  content: "\e07c";
}
.wth-icon-photo-picture:before {
  content: "\e07d";
}
.wth-icon-photos-pictures:before {
  content: "\e07e";
}
.wth-icon-information-circle-2:before {
  content: "\e07f";
}
.wth-icon-information:before {
  content: "\e080";
}
.wth-icon-ionic:before {
  content: "\e081";
}
.wth-icon-alarm-clock-outline:before {
  content: "\e082";
}
.wth-icon-alarm-clock-1:before {
  content: "\e083";
}
.wth-icon-albums:before {
  content: "\e084";
}
.wth-icon-albums-outline:before {
  content: "\e085";
}
.wth-icon-chevron-left-thick:before {
  content: "\e086";
}
.wth-icon-chevron-down-1:before {
  content: "\e087";
}
.wth-icon-chevron-right-thick:before {
  content: "\e088";
}
.wth-icon-chevron-left-1:before {
  content: "\e089";
}
.wth-icon-chevron-right-1:before {
  content: "\e08a";
}
.wth-icon-arrow-down-1:before {
  content: "\e08b";
}
.wth-icon-arrow-left-1:before {
  content: "\e08c";
}
.wth-icon-arrow-right-1:before {
  content: "\e08d";
}
.wth-icon-arrow-up-1:before {
  content: "\e08e";
}
.wth-icon-chevron-up-1:before {
  content: "\e08f";
}
.wth-icon-at-address:before {
  content: "\e090";
}
.wth-icon-at-address-thick:before {
  content: "\e091";
}
.wth-icon-bell-outline:before {
  content: "\e092";
}
.wth-icon-bell:before {
  content: "\e093";
}
.wth-icon-electric-flash-outline:before {
  content: "\e094";
}
.wth-icon-flash-electric-2:before {
  content: "\e095";
}
.wth-icon-bookmark-outline:before {
  content: "\e096";
}
.wth-icon-bookmark-1:before {
  content: "\e097";
}
.wth-icon-box-outline:before {
  content: "\e098";
}
.wth-icon-box:before {
  content: "\e099";
}
.wth-icon-briefcase-outline:before {
  content: "\e09a";
}
.wth-icon-briefcase:before {
  content: "\e09b";
}
.wth-icon-browsers-outline:before {
  content: "\e09c";
}
.wth-icon-browsers:before {
  content: "\e09d";
}
.wth-icon-calculator-outline:before {
  content: "\e09e";
}
.wth-icon-calculator-2:before {
  content: "\e09f";
}
.wth-icon-calendar-outline:before {
  content: "\e0a0";
}
.wth-icon-calendar-2:before {
  content: "\e0a1";
}
.wth-icon-camera-outline:before {
  content: "\e0a2";
}
.wth-icon-camera-2:before {
  content: "\e0a3";
}
.wth-icon-shopping-cart-outline:before {
  content: "\e0a4";
}
.wth-icon-shopping-cart:before {
  content: "\e0a5";
}
.wth-icon-chat-talk-outline:before {
  content: "\e0a6";
}
.wth-icon-chat-talk:before {
  content: "\e0a7";
}
.wth-icon-chatbubble-outline:before {
  content: "\e0a8";
}
.wth-icon-chatbubble:before {
  content: "\e0a9";
}
.wth-icon-check-mark-4:before {
  content: "\e0aa";
}
.wth-icon-check-mark-circle-outline:before {
  content: "\e0ab";
}
.wth-icon-check-mark-circle:before {
  content: "\e0ac";
}
.wth-icon-circle-filled:before {
  content: "\e0ad";
}
.wth-icon-circle-filled-outline:before {
  content: "\e0ae";
}
.wth-icon-clock-time-outline:before {
  content: "\e0af";
}
.wth-icon-clock-time:before {
  content: "\e0b0";
}
.wth-icon-close-empty:before {
  content: "\e0b1";
}
.wth-icon-close-circle-outline:before {
  content: "\e0b2";
}
.wth-icon-close-circle:before {
  content: "\e0b3";
}
.wth-icon-cloud-download-outline:before {
  content: "\e0b4";
}
.wth-icon-cloud-download:before {
  content: "\e0b5";
}
.wth-icon-cloud-outline:before {
  content: "\e0b6";
}
.wth-icon-cloud-upload-outline:before {
  content: "\e0b7";
}
.wth-icon-cloud-upload-2:before {
  content: "\e0b8";
}
.wth-icon-cloud-2:before {
  content: "\e0b9";
}
.wth-icon-cloud-moon-outline:before {
  content: "\e0ba";
}
.wth-icon-cloud-moon:before {
  content: "\e0bb";
}
.wth-icon-cloud-small-outline:before {
  content: "\e0bc";
}
.wth-icon-cloud-small:before {
  content: "\e0bd";
}
.wth-icon-cog-outline:before {
  content: "\e0be";
}
.wth-icon-cog:before {
  content: "\e0bf";
}
.wth-icon-compose-edit-outline:before {
  content: "\e0c0";
}
.wth-icon-compose-edit:before {
  content: "\e0c1";
}
.wth-icon-user-circle-outline:before {
  content: "\e0c2";
}
.wth-icon-user-circle:before {
  content: "\e0c3";
}
.wth-icon-copy-outline:before {
  content: "\e0c4";
}
.wth-icon-copy:before {
  content: "\e0c5";
}
.wth-icon-square-download-outline:before {
  content: "\e0c6";
}
.wth-icon-square-download:before {
  content: "\e0c7";
}
.wth-icon-drag-2:before {
  content: "\e0c8";
}
.wth-icon-mail-letter-outline:before {
  content: "\e0c9";
}
.wth-icon-mail-letter-2:before {
  content: "\e0ca";
}
.wth-icon-eye-view-outline:before {
  content: "\e0cb";
}
.wth-icon-eye-view-2:before {
  content: "\e0cc";
}
.wth-icon-fast-forward-outline:before {
  content: "\e0cd";
}
.wth-icon-fast-forward:before {
  content: "\e0ce";
}
.wth-icon-inbox-outline:before {
  content: "\e0cf";
}
.wth-icon-inbox:before {
  content: "\e0d0";
}
.wth-icon-filmstrip-outline:before {
  content: "\e0d1";
}
.wth-icon-filmstrip:before {
  content: "\e0d2";
}
.wth-icon-flag-outline:before {
  content: "\e0d3";
}
.wth-icon-flag-2:before {
  content: "\e0d4";
}
.wth-icon-folder-small-outline:before {
  content: "\e0d5";
}
.wth-icon-folder-small:before {
  content: "\e0d6";
}
.wth-icon-gear-cog:before {
  content: "\e0d7";
}
.wth-icon-gear-setting-1:before {
  content: "\e0d8";
}
.wth-icon-eye-glass-outline:before {
  content: "\e0d9";
}
.wth-icon-eye-glass:before {
  content: "\e0da";
}
.wth-icon-heart-small-outline:before {
  content: "\e0db";
}
.wth-icon-heart-small:before {
  content: "\e0dc";
}
.wth-icon-question-small:before {
  content: "\e0dd";
}
.wth-icon-question-circle-outline:before {
  content: "\e0de";
}
.wth-icon-question-circle-1:before {
  content: "\e0df";
}
.wth-icon-infinite-outline:before {
  content: "\e0e0";
}
.wth-icon-infinite:before {
  content: "\e0e1";
}
.wth-icon-information-small:before {
  content: "\e0e2";
}
.wth-icon-information-small-circle-outline:before {
  content: "\e0e3";
}
.wth-icon-information-small-circle:before {
  content: "\e0e4";
}
.wth-icon-ionic-outline:before {
  content: "\e0e5";
}
.wth-icon-keypad-outline:before {
  content: "\e0e6";
}
.wth-icon-keypad-2:before {
  content: "\e0e7";
}
.wth-icon-lightbulb-outline:before {
  content: "\e0e8";
}
.wth-icon-lightbulb:before {
  content: "\e0e9";
}
.wth-icon-mark-map-outline:before {
  content: "\e0ea";
}
.wth-icon-mark-map:before {
  content: "\e0eb";
}
.wth-icon-lock-outline:before {
  content: "\e0ec";
}
.wth-icon-lock-1:before {
  content: "\e0ed";
}
.wth-icon-medkit-outline:before {
  content: "\e0ee";
}
.wth-icon-medkit-2:before {
  content: "\e0ef";
}
.wth-icon-mic-off:before {
  content: "\e0f0";
}
.wth-icon-mic-outline:before {
  content: "\e0f1";
}
.wth-icon-mic-5:before {
  content: "\e0f2";
}
.wth-icon-minus-3:before {
  content: "\e0f3";
}
.wth-icon-minus-circle-outline:before {
  content: "\e0f4";
}
.wth-icon-minus-circle-2:before {
  content: "\e0f5";
}
.wth-icon-screen-outline:before {
  content: "\e0f6";
}
.wth-icon-screen:before {
  content: "\e0f7";
}
.wth-icon-moon-outline:before {
  content: "\e0f8";
}
.wth-icon-moon:before {
  content: "\e0f9";
}
.wth-icon-more-outline:before {
  content: "\e0fa";
}
.wth-icon-more:before {
  content: "\e0fb";
}
.wth-icon-music-note:before {
  content: "\e0fc";
}
.wth-icon-music-note-2:before {
  content: "\e0fd";
}
.wth-icon-navigate-outline:before {
  content: "\e0fe";
}
.wth-icon-navigate:before {
  content: "\e0ff";
}
.wth-icon-send-mail-outline:before {
  content: "\e100";
}
.wth-icon-send-mail:before {
  content: "\e101";
}
.wth-icon-cloud-sun-outline:before {
  content: "\e102";
}
.wth-icon-cloud-sun:before {
  content: "\e103";
}
.wth-icon-pause-outline:before {
  content: "\e104";
}
.wth-icon-pause:before {
  content: "\e105";
}
.wth-icon-contact-group-outline:before {
  content: "\e106";
}
.wth-icon-contact-group:before {
  content: "\e107";
}
.wth-icon-contact-outline:before {
  content: "\e108";
}
.wth-icon-contact:before {
  content: "\e109";
}
.wth-icon-contact-outline-add:before {
  content: "\e10a";
}
.wth-icon-contact-add:before {
  content: "\e10b";
}
.wth-icon-photos-outline:before {
  content: "\e10c";
}
.wth-icon-photos:before {
  content: "\e10d";
}
.wth-icon-pie-outline:before {
  content: "\e10e";
}
.wth-icon-pie:before {
  content: "\e10f";
}
.wth-icon-play-outline:before {
  content: "\e110";
}
.wth-icon-play:before {
  content: "\e111";
}
.wth-icon-plus:before {
  content: "\e112";
}
.wth-icon-plus-circle-outline:before {
  content: "\e113";
}
.wth-icon-plus-outline:before {
  content: "\e114";
}
.wth-icon-tag-outline:before {
  content: "\e115";
}
.wth-icon-tag-1:before {
  content: "\e116";
}
.wth-icon-print-outline:before {
  content: "\e117";
}
.wth-icon-print:before {
  content: "\e118";
}
.wth-icon-cloud-rain-outline:before {
  content: "\e119";
}
.wth-icon-cloud-rain:before {
  content: "\e11a";
}
.wth-icon-record-outline:before {
  content: "\e11b";
}
.wth-icon-record:before {
  content: "\e11c";
}
.wth-icon-redo-outline:before {
  content: "\e11d";
}
.wth-icon-redo:before {
  content: "\e11e";
}
.wth-icon-refresh:before {
  content: "\e11f";
}
.wth-icon-refresh-circle-outline:before {
  content: "\e120";
}
.wth-icon-refresh-circle:before {
  content: "\e121";
}
.wth-icon-reload:before {
  content: "\e122";
}
.wth-icon-rewind-outline:before {
  content: "\e123";
}
.wth-icon-rewind:before {
  content: "\e124";
}
.wth-icon-search-1:before {
  content: "\e125";
}
.wth-icon-search-outline:before {
  content: "\e126";
}
.wth-icon-skipbackward-outline:before {
  content: "\e127";
}
.wth-icon-skipbackward:before {
  content: "\e128";
}
.wth-icon-skipforward-outline:before {
  content: "\e129";
}
.wth-icon-skipforward:before {
  content: "\e12a";
}
.wth-icon-snowy:before {
  content: "\e12b";
}
.wth-icon-speedometer-outline:before {
  content: "\e12c";
}
.wth-icon-speedometer:before {
  content: "\e12d";
}
.wth-icon-star-outline:before {
  content: "\e12e";
}
.wth-icon-star-1:before {
  content: "\e12f";
}
.wth-icon-stopwatch-outline:before {
  content: "\e130";
}
.wth-icon-stopwatch-1:before {
  content: "\e131";
}
.wth-icon-brightness-outline:before {
  content: "\e132";
}
.wth-icon-brightness:before {
  content: "\e133";
}
.wth-icon-call-phone-outline:before {
  content: "\e134";
}
.wth-icon-call-phone:before {
  content: "\e135";
}
.wth-icon-cloud-lightning-outline:before {
  content: "\e136";
}
.wth-icon-cloud-lightning:before {
  content: "\e137";
}
.wth-icon-clock-2-outline:before {
  content: "\e138";
}
.wth-icon-clock-1:before {
  content: "\e139";
}
.wth-icon-timer-clock-outline:before {
  content: "\e13a";
}
.wth-icon-timer-clock:before {
  content: "\e13b";
}
.wth-icon-trash-bin-outline:before {
  content: "\e13c";
}
.wth-icon-trash-bin-1:before {
  content: "\e13d";
}
.wth-icon-undo-outline:before {
  content: "\e13e";
}
.wth-icon-undo:before {
  content: "\e13f";
}
.wth-icon-unlock-outline:before {
  content: "\e140";
}
.wth-icon-unlock-2:before {
  content: "\e141";
}
.wth-icon-square-upload-outline:before {
  content: "\e142";
}
.wth-icon-square-upload:before {
  content: "\e143";
}
.wth-icon-video-camera-outline:before {
  content: "\e144";
}
.wth-icon-video-camera:before {
  content: "\e145";
}
.wth-icon-speaker:before {
  content: "\e146";
}
.wth-icon-speaker-no:before {
  content: "\e147";
}
.wth-icon-wine-glass-outline:before {
  content: "\e148";
}
.wth-icon-wine-glass:before {
  content: "\e149";
}
.wth-icon-globe-outline:before {
  content: "\e14a";
}
.wth-icon-globe:before {
  content: "\e14b";
}
.wth-icon-tablet:before {
  content: "\e14c";
}
.wth-icon-mobile-phone:before {
  content: "\e14d";
}
.wth-icon-ipod:before {
  content: "\e14e";
}
.wth-icon-fighter:before {
  content: "\e14f";
}
.wth-icon-key-1:before {
  content: "\e150";
}
.wth-icon-knife:before {
  content: "\e151";
}
.wth-icon-laptop:before {
  content: "\e152";
}
.wth-icon-leaf:before {
  content: "\e153";
}
.wth-icon-mixer:before {
  content: "\e154";
}
.wth-icon-lightbulb-1:before {
  content: "\e155";
}
.wth-icon-link:before {
  content: "\e156";
}
.wth-icon-loading-4:before {
  content: "\e157";
}
.wth-icon-loading-3:before {
  content: "\e158";
}
.wth-icon-loading-2:before {
  content: "\e159";
}
.wth-icon-loading-1:before {
  content: "\e15a";
}
.wth-icon-mark-map-1:before {
  content: "\e15b";
}
.wth-icon-lock-big:before {
  content: "\e15c";
}
.wth-icon-log-in:before {
  content: "\e15d";
}
.wth-icon-log-out:before {
  content: "\e15e";
}
.wth-icon-loop:before {
  content: "\e15f";
}
.wth-icon-magnet:before {
  content: "\e160";
}
.wth-icon-male-symbol:before {
  content: "\e161";
}
.wth-icon-male:before {
  content: "\e162";
}
.wth-icon-map:before {
  content: "\e163";
}
.wth-icon-medkit:before {
  content: "\e164";
}
.wth-icon-mic-3:before {
  content: "\e165";
}
.wth-icon-mic-2:before {
  content: "\e166";
}
.wth-icon-mic-4:before {
  content: "\e167";
}
.wth-icon-minus-circle:before {
  content: "\e168";
}
.wth-icon-minus-2:before {
  content: "\e169";
}
.wth-icon-minus:before {
  content: "\e16a";
}
.wth-icon-car:before {
  content: "\e16b";
}
.wth-icon-screen-1:before {
  content: "\e16c";
}
.wth-icon-more-2:before {
  content: "\e16d";
}
.wth-icon-music-song:before {
  content: "\e16e";
}
.wth-icon-navicon-round:before {
  content: "\e16f";
}
.wth-icon-navicon:before {
  content: "\e170";
}
.wth-icon-navigate-location:before {
  content: "\e171";
}
.wth-icon-no-smoke:before {
  content: "\e172";
}
.wth-icon-nuclear:before {
  content: "\e173";
}
.wth-icon-paper-airplane:before {
  content: "\e174";
}
.wth-icon-paper-clip:before {
  content: "\e175";
}
.wth-icon-pause-2:before {
  content: "\e176";
}
.wth-icon-contact-add-2:before {
  content: "\e177";
}
.wth-icon-contacs:before {
  content: "\e178";
}
.wth-icon-contact-2:before {
  content: "\e179";
}
.wth-icon-pie-2:before {
  content: "\e17a";
}
.wth-icon-pin:before {
  content: "\e17b";
}
.wth-icon-crosshairpinpoint:before {
  content: "\e17c";
}
.wth-icon-pizza:before {
  content: "\e17d";
}
.wth-icon-plane-airport:before {
  content: "\e17e";
}
.wth-icon-play-2:before {
  content: "\e17f";
}
.wth-icon-play-station:before {
  content: "\e180";
}
.wth-icon-plus-circle:before {
  content: "\e181";
}
.wth-icon-plus-add-2:before {
  content: "\e182";
}
.wth-icon-plus-add:before {
  content: "\e183";
}
.wth-icon-hashtag:before {
  content: "\e184";
}
.wth-icon-power-off:before {
  content: "\e185";
}
.wth-icon-tag-round:before {
  content: "\e186";
}
.wth-icon-tags-round:before {
  content: "\e187";
}
.wth-icon-print-1:before {
  content: "\e188";
}
.wth-icon-radio-waves:before {
  content: "\e189";
}
.wth-icon-record-2:before {
  content: "\e18a";
}
.wth-icon-refresh-1:before {
  content: "\e18b";
}
.wth-icon-reply-all:before {
  content: "\e18c";
}
.wth-icon-reply:before {
  content: "\e18d";
}
.wth-icon-search-3:before {
  content: "\e18e";
}
.wth-icon-setting-tools:before {
  content: "\e18f";
}
.wth-icon-log-out-1:before {
  content: "\e190";
}
.wth-icon-random:before {
  content: "\e191";
}
.wth-icon-fast-backward:before {
  content: "\e192";
}
.wth-icon-fast-forward-1:before {
  content: "\e193";
}
.wth-icon-android-outine:before {
  content: "\e194";
}
.wth-icon-android:before {
  content: "\e195";
}
.wth-icon-apple-outline:before {
  content: "\e196";
}
.wth-icon-apple:before {
  content: "\e197";
}
.wth-icon-bitcoin-outline:before {
  content: "\e198";
}
.wth-icon-bitcoin:before {
  content: "\e199";
}
.wth-icon-buffer-outline:before {
  content: "\e19a";
}
.wth-icon-buffer:before {
  content: "\e19b";
}
.wth-icon-designernews-outline:before {
  content: "\e19c";
}
.wth-icon-designernews:before {
  content: "\e19d";
}
.wth-icon-dribble-outline:before {
  content: "\e19e";
}
.wth-icon-dribble:before {
  content: "\e19f";
}
.wth-icon-dropbox-outline:before {
  content: "\e1a0";
}
.wth-icon-dropbox:before {
  content: "\e1a1";
}
.wth-icon-facebook-outline:before {
  content: "\e1a2";
}
.wth-icon-facebook:before {
  content: "\e1a3";
}
.wth-icon-freebsd-devil:before {
  content: "\e1a4";
}
.wth-icon-github-outline:before {
  content: "\e1a5";
}
.wth-icon-github:before {
  content: "\e1a6";
}
.wth-icon-googleplus-1:before {
  content: "\e1a7";
}
.wth-icon-googleplus-2:before {
  content: "\e1a8";
}
.wth-icon-hackernews-outline:before {
  content: "\e1a9";
}
.wth-icon-hackernews:before {
  content: "\e1aa";
}
.wth-icon-linkedin-outline:before {
  content: "\e1ab";
}
.wth-icon-linkedin:before {
  content: "\e1ac";
}
.wth-icon-pinterest-outline:before {
  content: "\e1ad";
}
.wth-icon-pinterest:before {
  content: "\e1ae";
}
.wth-icon-reddit-outline:before {
  content: "\e1af";
}
.wth-icon-reddit:before {
  content: "\e1b0";
}
.wth-icon-rss-outline:before {
  content: "\e1b1";
}
.wth-icon-rss:before {
  content: "\e1b2";
}
.wth-icon-skype-outline:before {
  content: "\e1b3";
}
.wth-icon-skype:before {
  content: "\e1b4";
}
.wth-icon-tumblr-outline:before {
  content: "\e1b5";
}
.wth-icon-tumblr:before {
  content: "\e1b6";
}
.wth-icon-linux:before {
  content: "\e1b7";
}
.wth-icon-twitter-outline:before {
  content: "\e1b8";
}
.wth-icon-twitter:before {
  content: "\e1b9";
}
.wth-icon-vimeo-outline:before {
  content: "\e1ba";
}
.wth-icon-vimeo:before {
  content: "\e1bb";
}
.wth-icon-windows-outline:before {
  content: "\e1bc";
}
.wth-icon-windows:before {
  content: "\e1bd";
}
.wth-icon-wordpress-outline:before {
  content: "\e1be";
}
.wth-icon-wordpress:before {
  content: "\e1bf";
}
.wth-icon-yahoo-outline:before {
  content: "\e1c0";
}
.wth-icon-yahoo:before {
  content: "\e1c1";
}
.wth-icon-youtube-play-outline:before {
  content: "\e1c2";
}
.wth-icon-youtube-play:before {
  content: "\e1c3";
}
.wth-icon-speakerphone:before {
  content: "\e1c4";
}
.wth-icon-speedometer-1:before {
  content: "\e1c5";
}
.wth-icon-spoon:before {
  content: "\e1c6";
}
.wth-icon-star-3:before {
  content: "\e1c7";
}
.wth-icon-bar:before {
  content: "\e1c8";
}
.wth-icon-steam:before {
  content: "\e1c9";
}
.wth-icon-stop:before {
  content: "\e1ca";
}
.wth-icon-thermometer:before {
  content: "\e1cb";
}
.wth-icon-hand-unlike:before {
  content: "\e1cc";
}
.wth-icon-hand-like:before {
  content: "\e1cd";
}
.wth-icon-trash-bin-2:before {
  content: "\e1ce";
}
.wth-icon-trash-bin-2-1:before {
  content: "\e1cf";
}
.wth-icon-umbrella:before {
  content: "\e1d0";
}
.wth-icon-unlock:before {
  content: "\e1d1";
}
.wth-icon-cloud-upload:before {
  content: "\e1d2";
}
.wth-icon-usb:before {
  content: "\e1d3";
}
.wth-icon-videocamera:before {
  content: "\e1d4";
}
.wth-icon-volume-high:before {
  content: "\e1d5";
}
.wth-icon-volume-low:before {
  content: "\e1d6";
}
.wth-icon-volume-medium:before {
  content: "\e1d7";
}
.wth-icon-volume-mute:before {
  content: "\e1d8";
}
.wth-icon-waterdrop:before {
  content: "\e1d9";
}
.wth-icon-signal-wifi:before {
  content: "\e1da";
}
.wth-icon-glass-wine:before {
  content: "\e1db";
}
.wth-icon-female:before {
  content: "\e1dc";
}
.wth-icon-wrench:before {
  content: "\e1dd";
}
.wth-icon-xbox:before {
  content: "\e1de";
}


